version: '3'

services:

  train:
    build: .
    container_name: ${USER}-train
    user: ${UID}:${GID}
    command: tfexp train configs/
    volumes:
      - ./logs:/app/logs
      - ./variants:/app/variants
      - ./configs:/app/configs
      - ../paper_data:/paper_data:ro
    environment:
     CUDA_VISIBLE_DEVICES: 0

  jupyter:
    build: .
    container_name: ${USER}-jupyter
    user: ${UID}:${GID}
    command: jupyter notebook --notebook-dir=/app/ipynb --ip 0.0.0.0 --no-browser --allow-root
    ports:
      - 8081:8888
    volumes:
      - ./logs:/app/logs
      - ./variants:/app/variants
      - ./configs:/app/configs:ro
      - ../paper_data:/paper_data:ro
      - ./ipynb:/app/ipynb

  tensorboard:
    build: .
    container_name: ${USER}-tensorboard
    user: ${UID}:${GID}
    command: tensorboard --logdir ./logs
    ports:
      - 8082:6006
    volumes:
      - ./variants:/app/variants:ro
      - ./logs:/app/logs:ro
