seed: !store [seed, 42]
name: &name feed_forward_bernstein_flow

data_loader: !!python/name:bernstein_paper.data.cer_data_loader.load_data
data_loader_kwds: !include shared/data_loader_kwds.yaml

model_checkpoints: !join 
  - !store 
    - base_path
    - !join
      - ./logs/
      - *name
  - '/mcp'

model: !!python/object/apply:bernstein_paper.models.feed_forward.build_model
  kwds:
    history_shape: !!python/tuple [$history_size, 1]
    meta_shape: !!python/tuple [1, !sum [2, 6, 1]]
    output_shape: !!python/tuple [$horizon_size, !sum [4, 10]]
    hidden_layers: !include shared/feed_forward_hidden_layers.yaml
    batch_normalization: true
    name: *name

compile_kwds:
  loss: !!python/object/apply:bernstein_paper.losses.NegativeLogarithmicLikelihood
    kwds:
      distribution_class: &distribution_class !!python/name:bernstein_flow.distributions.BernsteinFlow
  # metrics:
  #   - !!python/object/apply:bernstein_paper.metrics.MeanAbsoluteError
  #     kwds:
  #       distribution_class: *distribution_class
  #       scale: &max_load 14.134
  #   - !!python/object/apply:bernstein_paper.metrics.MeanSquaredError
  #     kwds:
  #       distribution_class: *distribution_class
  #       scale: *max_load
  #   - !!python/object/apply:bernstein_paper.metrics.ContinuousRankedProbabilityScore
  #     kwds:
  #       distribution_class: *distribution_class
  #       scale: *max_load
  optimizer: !!python/object/apply:tensorflow.keras.optimizers.Adam
    kwds:
      lr: !store [lr, 0.00001]
  #run_eagerly: true

fit_kwds:
  epochs: 150
  validation_freq: 1
  callbacks: !include shared/callbacks.yaml
